.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.725000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.868000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.868000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.004000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.004000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.747000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.868000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.747000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls9{letter-spacing:-6.000000px;}
.lsb{letter-spacing:-1.726830px;}
.ls0{letter-spacing:-1.392000px;}
.ls2{letter-spacing:-1.008000px;}
.lsd{letter-spacing:-0.960000px;}
.ls8{letter-spacing:-0.896000px;}
.ls12{letter-spacing:-0.768000px;}
.ls13{letter-spacing:-0.672000px;}
.lse{letter-spacing:-0.624000px;}
.ls15{letter-spacing:-0.432000px;}
.lsc{letter-spacing:-0.425794px;}
.ls11{letter-spacing:-0.384000px;}
.ls14{letter-spacing:-0.240000px;}
.lsf{letter-spacing:-0.192000px;}
.ls3{letter-spacing:0.000000px;}
.ls10{letter-spacing:0.096000px;}
.ls1{letter-spacing:0.560000px;}
.ls5{letter-spacing:0.840000px;}
.ls7{letter-spacing:1.120000px;}
.ls6{letter-spacing:1.260000px;}
.ls4{letter-spacing:1.680000px;}
.lsa{letter-spacing:3.665440px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.wsa{word-spacing:-3.665440px;}
.ws4{word-spacing:-1.680000px;}
.ws6{word-spacing:-1.260000px;}
.ws7{word-spacing:-1.120000px;}
.ws5{word-spacing:-0.840000px;}
.ws1{word-spacing:-0.560000px;}
.wsf{word-spacing:-0.096000px;}
.ws3{word-spacing:0.000000px;}
.wse{word-spacing:0.192000px;}
.ws13{word-spacing:0.240000px;}
.ws10{word-spacing:0.384000px;}
.ws14{word-spacing:0.432000px;}
.wsd{word-spacing:0.624000px;}
.ws12{word-spacing:0.672000px;}
.ws11{word-spacing:0.768000px;}
.ws8{word-spacing:0.896000px;}
.wsc{word-spacing:0.960000px;}
.ws2{word-spacing:1.008000px;}
.ws0{word-spacing:1.392000px;}
.wsb{word-spacing:1.726830px;}
.ws9{word-spacing:6.000000px;}
._7{margin-left:-7.534800px;}
._4{margin-left:-5.880000px;}
._8{margin-left:-3.950800px;}
._3{margin-left:-2.940000px;}
._2{margin-left:-1.696800px;}
._1{width:1.680000px;}
._5{width:2.982000px;}
._a{width:5.000000px;}
._9{width:6.000000px;}
._0{width:66.906000px;}
._6{width:82.154400px;}
._b{width:141.670993px;}
._11{width:2305.575200px;}
._c{width:2904.385456px;}
._13{width:3756.672000px;}
._f{width:3757.776000px;}
._10{width:3759.120000px;}
._12{width:3761.520000px;}
._e{width:3762.528000px;}
._d{width:3772.176000px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs6{font-size:23.655200px;}
.fs1{font-size:28.000000px;}
.fs7{font-size:29.161200px;}
.fs0{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.fs5{font-size:73.308800px;}
.fs2{font-size:84.000000px;}
.fs4{font-size:200.000000px;}
.y0{bottom:0.000000px;}
.y23{bottom:25.111300px;}
.y3{bottom:25.511700px;}
.y1{bottom:25.511800px;}
.y2{bottom:25.546800px;}
.y25{bottom:26.933600px;}
.y26{bottom:28.608681px;}
.y24{bottom:35.687500px;}
.y1f{bottom:76.535400px;}
.y1e{bottom:84.935400px;}
.y1d{bottom:93.335400px;}
.y1c{bottom:101.735400px;}
.y1b{bottom:118.535400px;}
.y1a{bottom:126.935400px;}
.ye{bottom:161.981900px;}
.yd{bottom:185.984900px;}
.yc{bottom:209.987900px;}
.yb{bottom:233.990900px;}
.ya{bottom:257.993900px;}
.y9{bottom:281.996900px;}
.y8{bottom:305.999900px;}
.y7{bottom:330.002900px;}
.y6{bottom:354.005900px;}
.y5{bottom:378.008900px;}
.y4{bottom:402.011900px;}
.y19{bottom:417.353900px;}
.y18{bottom:441.356900px;}
.y17{bottom:465.359900px;}
.y16{bottom:489.362900px;}
.y15{bottom:513.365900px;}
.y14{bottom:537.368900px;}
.y13{bottom:561.371900px;}
.y12{bottom:585.374900px;}
.y11{bottom:609.377900px;}
.y10{bottom:633.380900px;}
.yf{bottom:657.383900px;}
.y20{bottom:699.582300px;}
.y29{bottom:719.386000px;}
.y22{bottom:726.472600px;}
.y28{bottom:727.786000px;}
.y27{bottom:729.203200px;}
.y21{bottom:734.872600px;}
.h8{height:17.221632px;}
.h3{height:20.356000px;}
.h9{height:21.258629px;}
.h2{height:34.080000px;}
.h5{height:40.992000px;}
.h7{height:53.370811px;}
.h4{height:65.436000px;}
.h6{height:146.400000px;}
.h1{height:740.000000px;}
.ha{height:740.500000px;}
.h0{height:765.354000px;}
.w1{width:1190.500000px;}
.w0{width:1190.550000px;}
.x0{left:0.000000px;}
.x4{left:24.762700px;}
.xe{left:34.015900px;}
.x7{left:62.271500px;}
.x5{left:68.031300px;}
.x3{left:112.441000px;}
.x9{left:239.075700px;}
.x8{left:336.751000px;}
.xb{left:434.908200px;}
.x2{left:460.157500px;}
.xc{left:622.437500px;}
.x6{left:649.133800px;}
.xd{left:654.803000px;}
.xf{left:656.220500px;}
.xa{left:1037.706848px;}
.x1{left:1067.788900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls9{letter-spacing:-8.000000pt;}
.lsb{letter-spacing:-2.302439pt;}
.ls0{letter-spacing:-1.856000pt;}
.ls2{letter-spacing:-1.344000pt;}
.lsd{letter-spacing:-1.280000pt;}
.ls8{letter-spacing:-1.194667pt;}
.ls12{letter-spacing:-1.024000pt;}
.ls13{letter-spacing:-0.896000pt;}
.lse{letter-spacing:-0.832000pt;}
.ls15{letter-spacing:-0.576000pt;}
.lsc{letter-spacing:-0.567725pt;}
.ls11{letter-spacing:-0.512000pt;}
.ls14{letter-spacing:-0.320000pt;}
.lsf{letter-spacing:-0.256000pt;}
.ls3{letter-spacing:0.000000pt;}
.ls10{letter-spacing:0.128000pt;}
.ls1{letter-spacing:0.746667pt;}
.ls5{letter-spacing:1.120000pt;}
.ls7{letter-spacing:1.493333pt;}
.ls6{letter-spacing:1.680000pt;}
.ls4{letter-spacing:2.240000pt;}
.lsa{letter-spacing:4.887253pt;}
.wsa{word-spacing:-4.887253pt;}
.ws4{word-spacing:-2.240000pt;}
.ws6{word-spacing:-1.680000pt;}
.ws7{word-spacing:-1.493333pt;}
.ws5{word-spacing:-1.120000pt;}
.ws1{word-spacing:-0.746667pt;}
.wsf{word-spacing:-0.128000pt;}
.ws3{word-spacing:0.000000pt;}
.wse{word-spacing:0.256000pt;}
.ws13{word-spacing:0.320000pt;}
.ws10{word-spacing:0.512000pt;}
.ws14{word-spacing:0.576000pt;}
.wsd{word-spacing:0.832000pt;}
.ws12{word-spacing:0.896000pt;}
.ws11{word-spacing:1.024000pt;}
.ws8{word-spacing:1.194667pt;}
.wsc{word-spacing:1.280000pt;}
.ws2{word-spacing:1.344000pt;}
.ws0{word-spacing:1.856000pt;}
.wsb{word-spacing:2.302439pt;}
.ws9{word-spacing:8.000000pt;}
._7{margin-left:-10.046400pt;}
._4{margin-left:-7.840000pt;}
._8{margin-left:-5.267733pt;}
._3{margin-left:-3.920000pt;}
._2{margin-left:-2.262400pt;}
._1{width:2.240000pt;}
._5{width:3.976000pt;}
._a{width:6.666667pt;}
._9{width:8.000000pt;}
._0{width:89.208000pt;}
._6{width:109.539200pt;}
._b{width:188.894657pt;}
._11{width:3074.100267pt;}
._c{width:3872.513941pt;}
._13{width:5008.896000pt;}
._f{width:5010.368000pt;}
._10{width:5012.160000pt;}
._12{width:5015.360000pt;}
._e{width:5016.704000pt;}
._d{width:5029.568000pt;}
.fs6{font-size:31.540267pt;}
.fs1{font-size:37.333333pt;}
.fs7{font-size:38.881600pt;}
.fs0{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.fs5{font-size:97.745067pt;}
.fs2{font-size:112.000000pt;}
.fs4{font-size:266.666667pt;}
.y0{bottom:0.000000pt;}
.y23{bottom:33.481733pt;}
.y3{bottom:34.015600pt;}
.y1{bottom:34.015733pt;}
.y2{bottom:34.062400pt;}
.y25{bottom:35.911467pt;}
.y26{bottom:38.144909pt;}
.y24{bottom:47.583333pt;}
.y1f{bottom:102.047200pt;}
.y1e{bottom:113.247200pt;}
.y1d{bottom:124.447200pt;}
.y1c{bottom:135.647200pt;}
.y1b{bottom:158.047200pt;}
.y1a{bottom:169.247200pt;}
.ye{bottom:215.975867pt;}
.yd{bottom:247.979867pt;}
.yc{bottom:279.983867pt;}
.yb{bottom:311.987867pt;}
.ya{bottom:343.991867pt;}
.y9{bottom:375.995867pt;}
.y8{bottom:407.999867pt;}
.y7{bottom:440.003867pt;}
.y6{bottom:472.007867pt;}
.y5{bottom:504.011867pt;}
.y4{bottom:536.015867pt;}
.y19{bottom:556.471867pt;}
.y18{bottom:588.475867pt;}
.y17{bottom:620.479867pt;}
.y16{bottom:652.483867pt;}
.y15{bottom:684.487867pt;}
.y14{bottom:716.491867pt;}
.y13{bottom:748.495867pt;}
.y12{bottom:780.499867pt;}
.y11{bottom:812.503867pt;}
.y10{bottom:844.507867pt;}
.yf{bottom:876.511867pt;}
.y20{bottom:932.776400pt;}
.y29{bottom:959.181333pt;}
.y22{bottom:968.630133pt;}
.y28{bottom:970.381333pt;}
.y27{bottom:972.270933pt;}
.y21{bottom:979.830133pt;}
.h8{height:22.962177pt;}
.h3{height:27.141333pt;}
.h9{height:28.344838pt;}
.h2{height:45.440000pt;}
.h5{height:54.656000pt;}
.h7{height:71.161081pt;}
.h4{height:87.248000pt;}
.h6{height:195.200000pt;}
.h1{height:986.666667pt;}
.ha{height:987.333333pt;}
.h0{height:1020.472000pt;}
.w1{width:1587.333333pt;}
.w0{width:1587.400000pt;}
.x0{left:0.000000pt;}
.x4{left:33.016933pt;}
.xe{left:45.354533pt;}
.x7{left:83.028667pt;}
.x5{left:90.708400pt;}
.x3{left:149.921333pt;}
.x9{left:318.767600pt;}
.x8{left:449.001333pt;}
.xb{left:579.877600pt;}
.x2{left:613.543333pt;}
.xc{left:829.916667pt;}
.x6{left:865.511733pt;}
.xd{left:873.070667pt;}
.xf{left:874.960667pt;}
.xa{left:1383.609130pt;}
.x1{left:1423.718533pt;}
}
